<%- include('./header') %>

        <!-- profile page -->
        <% if (data) { %>
            <div id="profile-section">
                <!-- first name -->
                <p>first name: <span id="profile-firstname"><%= data.firstname %></span></p>
                
                <!-- last name -->
                <p>last name: <span id="profile-lastname"><%= data.lastname %></span></p>

                <!-- email -->
                <p>email: <span id="profile-email"><%= data.email %></span></p>

            </div>
        <% } %>
<%- include('./footer') %>
